
@font-face {
	font-family: facebook-font;
	src: url('http://lepoivre.kooka.be/master1b/webapp/test06/font/FACEBOLF.OTF');
}

body{

}


#content_icon{
width:150px;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  border: 1px solid rgba(255,255,255,0);
  -webkit-user-select: none; // For Webkit
  - khtml-user-select: none;
  -moz-user-select: none; // For Mozilla
}


section {
  position:absolute;
  z-index:1;
  margin:0px auto auto;

  margin-top:0px;
  margin-bottom: 0px;
  width:150px;
  height:100px;
  border-radius: 10px;
  overflow:hidden;
  
  background: #5e82cc; /* Old browsers */
background: -moz-linear-gradient(top,  #5e82cc 0%, #27447e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e82cc), color-stop(100%,#27447e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5e82cc 0%,#27447e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5e82cc 0%,#27447e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5e82cc 0%,#27447e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5e82cc 0%,#27447e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e82cc', endColorstr='#27447e',GradientType=0 ); /* IE6-9 */
  
  -webkit-box-shadow:  0px 3px 5px 0px #000;
        
        box-shadow:  0px 3px 5px 0px #000;

}

section:before {
  position: absolute;
  z-index:1;
  top:0;
  right:0px;
  content: "KRS APPROVAL";
  color:white;
  font-weight:bold;
  font-size:1.3em;
  text-align: center;
  padding-top:25px;
 /* background:url('http://goo.gl/oxVgX')6px -1px;*/  
  background-size: 50% 50%;
  width:150px;
  height:100px;
}

section:after {
  position:absolute;
  background:#6d85b3;
  bottom:0px;
  left:0px;
  width:50%;
  height:50px;
  content:"";
  border-radius: 0px 0px 50px 50px;
  
  border-top: solid 1px #5573a9;
  
  background: #506aa3; /* Old browsers */
background: -moz-linear-gradient(top,  #506aa3 0%, #3e578f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#506aa3), color-stop(100%,#3e578f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #506aa3 0%,#3e578f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #506aa3 0%,#3e578f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #506aa3 0%,#3e578f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #506aa3 0%,#3e578f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#506aa3', endColorstr='#3e578f',GradientType=0 ); /* IE6-9 */

}

footer {
  text-align:center;
  padding-top:30px;
  font-family:"Arial";
  font-size:11px;
  color:rgba(0, 0, 0, 0.8);
  

}

a:link, a:visited {
  color:#111;
  text-decoration:none;
  border-bottom:1px dotted;
}

a:hover {
  color:black;
}

h1{
color: white;
  font-family: facebook-font;
  font-size: 250px;
  position: absolute;
  margin-top:60px;
  margin-left:100px;
  z-index: 1;text-shadow: 0px 1px 2px #000;
        filter: dropshadow(color=#000, offx=0, offy=1);
  
  
}

h2{
color: white;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  margin-top:280px;
  color: white;
  text-align:center;
  text-shadow: 0px 5px 5px #000;
        filter: dropshadow(color=#000, offx=0, offy=1);
}


#pastille {
  position:absolute;
  z-index:2;
  background: red;
  width: auto;
  min-width:50px;
  height: 50px;
  border-radius: 100px;
  font-family: "Arial";
  font-weight: 900;
  font-size:20px;
  text-align:center;
  margin:-30px 135px;
  
  line-height:50px;
  color: white;
  border: 5px solid white;
  box-shadow: -16px 6px 12px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  
  background-
  
  background: #ffc9c9; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc9c9 1%, #ff4c4c 50%, #ff0000 51%, #ff0000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffc9c9), color-stop(50%,#ff4c4c), color-stop(51%,#ff0000), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffc9c9 1%,#ff4c4c 50%,#ff0000 51%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffc9c9 1%,#ff4c4c 50%,#ff0000 51%,#ff0000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffc9c9 1%,#ff4c4c 50%,#ff0000 51%,#ff0000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffc9c9 1%,#ff4c4c 50%,#ff0000 51%,#ff0000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9c9', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

}


@-webkit-keyframes tremble {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg);}
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(5px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-2px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(6px, 2px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -3px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	100% { -webkit-transform: translate(5px, -2px) rotate(-1deg); }
}


#reset{
  color: gray;
  font-family: Helvetica, sans-serif;
  font-weight:100;
  font-size: 15px;
  margin-top:40px;
  text-align:center;
  text-shadow: 0px 5px 5px #000;
        filter: dropshadow(color=#000, offx=0, offy=1);

}